@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #c99a83 16.62%, #d9b5a3 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    border-bottom: 0.4px solid #FFF2E7;
}

.cabecalho-img {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
}

.cabecalho-menu-item:hover {
    color: #ECD6C4
}


.conteudo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ECD6C4;
}

.conteudo-principal-botao {
    background-color: #FFF2E7;
    width: 120px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4e4446;
}

.conteudo-principal-botao:hover {
    background-color: #ECD6C4;
}

.conteudo-principal-img {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-top: 38px;
    margin-bottom: none;
    padding-bottom: none;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    padding-bottom: 18px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #FFF2E7;
    letter-spacing: 2px;
}

.conteudo-secundario-paragrafo {
    justify-content: center;
    padding-bottom: 68px;
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #ECD6C4;
}
